<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>weibaoxiangmu</key>
	<dict>
		<key>半月维保</key>
		<array>
			<string>机房，滑轮间</string>
			<string>手动紧急操作装置</string>
			<string>曳引机和电动机</string>
			<string>制动气间隙</string>
			<string>制动器各销轴部位</string>
			<string>限速器各销轴部位</string>
			<string>编码器</string>
			<string>轿顶检修，紧急开关</string>
			<string>轿厢照明，风扇，应急开关</string>
			<string>轿顶</string>
			<string>对重块及其压板</string>
			<string>轿内报警装置，对讲系统</string>
			<string>导靴上油杯</string>
			<string>轿内显示，指令按钮</string>
			<string>层门锁紧元件啮和长度</string>
			<string>轿门门锁电气触点</string>
			<string>轿门运行</string>
			<string>轿厢平层精度</string>
			<string>层站召唤，层楼显示</string>
			<string>层门地坎</string>
			<string>层门自动关闭装置</string>
			<string>底坑环境</string>
			<string>层门门锁电气触电</string>
			<string>层门门锁自动复位</string>
			<string>底坑急停开关</string>
		</array>
		<key>季度维保</key>
		<array>
			<string>半月维修项</string>
			<string>位置脉冲发送器</string>
			<string>轿层门传动钢丝绳，链条，胶带</string>
			<string>自动衬</string>
			<string>迭层启动静触电</string>
			<string>限速器轮槽及限速器钢丝绳</string>
			<string>消防开关</string>
			<string>耗能缓冲器</string>
			<string>轿门及开关的电器安全装置</string>
			<string>靴衬，滚轮</string>
			<string>减速机润滑油量</string>
			<string>曳引轮槽及曳引钢丝绳</string>
			<string>层门门导靴</string>
		</array>
		<key>半年维保</key>
		<array>
			<string>季度维保</string>
			<string>制动器上检测开关</string>
			<string>井道，对重，轿顶各反绳轮轴承</string>
			<string>曳引轮槽</string>
			<string>曳引绳，补偿绳</string>
			<string>补偿链与轿厢，对重接合处</string>
			<string>控制柜各仪表</string>
			<string>曳引绳绳头组合</string>
			<string>电动机与减速机联轴器螺栓</string>
			<string>限速器钢丝绳</string>
			<string>电动机与减速机联轴器螺栓</string>
			<string>限速器钢丝绳</string>
			<string>层门，轿门门扇</string>
			<string>曳引轮，导向轮轴承部</string>
			<string>对重缓冲距</string>
			<string>上下极限开关</string>
			<string>控制柜各接线端子</string>
		</array>
		<key>年度维保</key>
		<array>
			<string>半年维保项</string>
			<string>制动器铁芯(柱塞)</string>
			<string>动力装置各安装螺栓</string>
			<string>层门装置和地坎</string>
			<string>导电回路绝缘性能</string>
			<string>限速器安全钳联动实验</string>
			<string>轿厢沉降试验</string>
			<string>轿厢和油缸导轨支架</string>
			<string>制动器制动弹簧压缩量</string>
			<string>安全钳钳座</string>
			<string>轿厢和油缸导轨</string>
			<string>对轿顶，轿厢架，轿门及其附件安装螺栓</string>
			<string>随性电缆</string>
			<string>动力装置各安装螺栓</string>
			<string>进行上行超速保护装置动作实验</string>
			<string>减速机润滑油</string>
			<string>轿底各安装螺栓</string>
			<string>控制柜接触器，继电器的触点</string>
			<string>缓冲器</string>
		</array>
		<key>其他</key>
		<array/>
	</dict>
	<key>weibaoleixin</key>
	<array>
		<string>半月维保</string>
		<string>季度维保</string>
		<string>半年维保</string>
		<string>年度维保</string>
		<string>其他</string>
	</array>
	<key>weibaobujian</key>
	<array>
		<string>整体</string>
		<string>门机</string>
		<string>制动器</string>
		<string>主动接触</string>
		<string>辅助接触器</string>
		<string>钢丝绳</string>
		<string>其他部件</string>
	</array>
	<key>weibaotiaojian</key>
	<array>
		<string>1.机房温度应保持在5~40℃之间，湿度应保持在电梯及检验所允许的范围内。</string>
		<string>2.电网输入电压应正常，其波动应在额定电压值±7%的范围内。</string>
		<string>3.空气中不应含有腐蚀性和易燃性气体及导电尘埃，特种电梯工作环境腐蚀性和可燃性气体不应超过该电梯额定指标</string>
		<string>4.作业现场（主要指机房，轿顶，底坑）应清洁，不应有与电梯工作无关的物品和设备，相关现场应放置表明正在进行校验的警示牌</string>
	</array>
	<key>firstType</key>
	<array>
		<string>red</string>
		<string>green</string>
		<string>blue</string>
		<string>cyan</string>
		<string>magenta</string>
		<string>orange</string>
	</array>
	<key>secondType</key>
	<array>
		<string>black</string>
		<string>white</string>
	</array>
</dict>
</plist>
